{% extends 'base.html.twig' %}
{% block title %} Page de login{% endblock %}
{% block body %}
    <h1 class="d-flex justify-content-center">Connexion</h1>
        <form action="" class="">
            <div class="d-flex justify-content-center">
                <input placeholder="Adresse email ...">
            </div>
            <div class="d-flex justify-content-center">
                <input placeholder="Mot de passe">
            </div>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Connexion</button>
            </div>
        </form>
{% endblock %}