/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 avr. 2022, 08:55:09
    Author     : dorian.dubois
*/

#presentation{
    margin-left:150px;
}

.accueil{
    margin-left: 150px;
}

.ateliers{

    text-align: center;
}

body{
    background-color: #e2e9e840 !important;
}