table{
    text-align: center;
    margin-left: 150px;
}

.test{
    color : red;
}

.nav-item {
    padding-right: 30px;
    
}
img {
    width: 250px;
    height: 200px!important;
}

#presentation-atelier{
    text-align: center;
    color:#000;
}
img, .navbar {
    /*//width: 200px;*/
    height: 140px!important;
}

img, .footer {
/*    //width: 200px;*/
    height: auto;
    bottom: 0;
}

navbar + div{
    line-height: 150px;
}

.nav-link{
    padding-top: 2.5rem!important;
}

.nav-link:hover{
    padding-top: 2.5rem!important;
    text-decoration: underline;
    color: #F7F9F9;
}

.footer{
    position: fixed;
    bottom:0;
    width:100%;       
}

.divFooter{
    padding-top: 2.5rem;
}