table{
    text-align: center;
}

.test{
    color : red;
}

img, #navbar {
    width: 200px;
    height: 100px!important;
}
img, #ffe {
    width: 250px;
    height: 150px!important;
}

.nav-item {
    padding-right: 30px;
}