table{
    text-align: center;
    margin-left: 150px;
}

.test{
    color : red;
}

.nav-item {
    padding-right: 30px;

img {
    width: 250px;
    height: 200px!important;
}

#presentation-atelier{
    text-align: center;
    color:#000;

img, .navbar {
    width: 200px;
    height: 100px!important;
}
img, .footer {
    width: 200px;
    height: 100px!important;
}

.presentation{
    margin-left: 150px;
}