{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center"> Du samedi 17 au dimanche 18 septembre 2022</h1>
    
        <tr>
            <td class="test">Ateliers</td><td>Thèmes</td><td>Vacations</td>
        </tr>
        {% for ateliers in lesAteliers %}
            <table class="table table-dark table-striped">
                <thead>
                    <tr>{{ ateliers.libelle }}</tr>
                </thead>
            <tr>
            <td>{{ ateliers.libelle }}</td><td>{{ ateliers.theme }}</td><td>{{ ateliers.vacations }}</td>
            </tr>
        {% endfor %}
    </table>
                
{% endblock %}


