{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <br>
    <h1 class="d-flex justify-content-center"> Du samedi 17 au dimanche 18 septembre 2022</h1>
    <br>
    <h3 id="presentation-atelier" >Presentation des ateliers</h3>
    <br>
    {% for ateliers in lesAteliers %}
        <div class="ateliers centrertexte">
            <table class="table table-dark table-striped ">
                <thead>
                    <tr>{{ ateliers.getLibelle }}</tr>
                </thead>
                <tr>
                </tr>
                <tr>
                <p>Nombre de places maximale : {{ ateliers.getNbPlaceMaxi }}
                    </tr>
            </table>
        </div>
    {% endfor %}
    <div>
        <table class="centretableau">
            <tr>
                <td>
                    <div class="ecart">
                        <h2 class="centrertexte"> les hotels </h2>
                        {% for hotel in lesHotels %}
                            <table class="table table-dark table-striped">
                                <tbody>
                                    <tr>
                                <p>{{ hotel.getPnom }}</p>
                                {% if hotel.getId == 1 %}
                                    <p>Single : 50€ la nuit<br>Double : 55€ la nuit</p>

                                {% else %}
                                    <p>Single : 45€ la nuit<br>Double 50€ la nuit</p>
                                    {% endif %}
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </td><td>
                    <div>
                        <h2 class="centrertexte">Les inscriptions :</h2>
                        <br>
                        <p>Le prix d'inscription au congrés et de 110€.
                            <br>
                            Les accompagnateurs devront payer 30€ par repas ceci étant le<br>   
                        <li>samedi midi</li>
                        <li>samedi soir</li>
                        <li>dimanche midi</li></p>
                        <br>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="espace"></div>
{% endblock %}


