<div class="footer">
    <footer class="footer bg-primary">
        <div class="row">
            <div class="col-3 text-center txt-footer divFooter">
                <a href="#" class="text-white" >Contact</a><br>
            </div>
            <div class="col-6 text-center ">
                <img class="img-fluid" id="ffe" src="{{ asset('assets/images/logo_ffe.jpg') }}">
                <img class="img-fluid" id="cong" src="{{ asset('assets/images/congres_logo.PNG') }}">
            </div>
            <div class="col-3 text-center txt-footer divFooter">
                <a href="#" class="text-white">Mentions légales</a><br>
                <a href="#" class="text-white">Plan du site</a>
            </div>
        </div>
    </footer>
</div>