<footer class="footer fixed-bottom bg-primary">
        <div class="row">
            <div class="col-4 text-left txt-footer">
                <a href="#" class="text-white" >Contact</a><br>
            </div>
            <div class="col-4 text-center">
                <img class="img-fluid" src="{{ asset('assets/images/logo_ffe.jpg') }}">
            </div>
            <div class="col-4 text-right txt-footer">
                <a href="#" class="text-white">Mentions légales</a><br>
                <a href="#" class="text-white">Plan du site</a>
            </div>
        </div>
</footer>