{% extends 'base.html.twig' %}

{% block title %}Nouveau compte pour licencié{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_accueil') }}">retour à l'accueil</a>
{% endblock %}
